html,
body {
  font-family: 'Open Sans', sans-serif;
  background: url("/assets/img/cubes.png");
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
}

a {
  color: #346591;
}

.main {
  padding: 3rem;
}

.logo {
  height: 80px;
  border: 0px;
  margin: 10px 0;
}

.tabs ul {
  border-bottom-style: none;
}

.copyright {
  font-size: 12px;
  text-align: center;
  margin: 1rem;
}

.button.is-info {
  background-color: #346591;
}

.button.is-info.is-outlined {
  border-color: #346591;
  color: #346591;
}
.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
    background-color: #346591;
    border-color: #346591;
}

.page {
  padding: 3rem;
  background: #fff;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 1rem;
  }
  .main {
    padding: 1.5rem;
  }
}

img.has-border {
 border: 2px solid #f2f2f2;
}
